footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: rgb(236, 175, 175);
  color: rgb(14, 14, 14);
  display: flex;
  align-items: center;
}

.leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftFooter>h4 {
  font-family: "Roboto", sans-serif;
    font-size: 1.2vmax;
    /* Adjusted font size */
    margin-bottom: 0.5vmax;
    /* Added margin-bottom */
}

.leftFooter>p {
  text-align: center;
  font-size: 1vmax;
    /* Adjusted font size */
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.leftFooter>img {
  width: 8vmax;
    /* Decreased image width */
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  flex-grow: 1;
    /* Added flex-grow to expand the width */
  text-align: center;
}

.midFooter>h1 {
  font-size: 3vmax;
    /* Adjusted font size */
    font-family: "Roboto", sans-serif;
  color: #eb4034;
  margin-bottom: 1vmax;
    /* Added margin-bottom */
}

.midFooter>p {
  max-width: 80%;
    /* Adjusted max-width */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2vmax;
    /* Adjusted font size */
    margin: 0 auto;
    /* Center align the text */
}

.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightFooter>h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3vmax;
  /* Adjusted font size */
  text-decoration: underline;
  margin-bottom: 0.5vmax;
    /* Added margin-bottom */
}

.rightFooter>a {
  text-decoration: none;
  font-size: 1.2vmax;
    /* Adjusted font size */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.3vmax;
    /* Adjusted margin */
    display: inline-block;
    /* Added display property */
    padding: 0.3vmax 1vmax;
    /* Added padding for button-like appearance */
    background-color: #eb4034;
    /* Added background color */
    border-radius: 4px;
    /* Added border radius */
}

.rightFooter>a:hover {
  color: white;
  background-color: #ff6658;
  /* Updated background color on hover */
}
